.login-route-container {
  background-color: #131313;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'roboto';
}
@media screen and (min-width: 768px) {
  .login-route-container {
    background-image: url('https://res.cloudinary.com/djslwoegx/image/upload/v1696514999/netfilx_1_loginBg_ysnmm3.png');
    background-size: cover;

    color: #ffffff;
    align-items: center;
  }
}

.website-logo {
  width: 100px;
  height: 27px;
  margin-top: 32px;
  margin-left: 32px;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .website-logo {
    height: 52px;
    width: 180px;

    margin-top: 48px;
    margin-left: 165px;
  }
}

.Login-details-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 32px;
}

@media screen and (min-width: 768px) {
  .Login-details-card {
    background-color: #0c0b10;
    opacity: 80%;

    width: 456px;
    height: 440px;
    margin-top: 150px;

    border-radius: 8px;

    padding: 40px;
  }
}

.login-heading {
  width: 80px;
  height: 40px;
  margin-top: 164px;
  margin-right: 32px;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .login-heading {
    width: 78px;
    height: 40px;
    margin-top: 10px;

    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    align-self: center;
  }
}

.user-details {
  width: 296px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .user-details {
    width: 360px;
    height: 70px;
  }
}

.user-label {
  width: 65px;
  height: 16px;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .user-label {
    font-size: 15px;
  }
}

.user-input {
  background-color: #333333;
  border: none;
  width: 296px;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #e2e8f0;
}

@media screen and (min-width: 768px) {
  .user-input {
    width: 360px;
  }
}

.error-msg {
  width: 203px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #dc2626;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .error-msg {
    width: 205px;
    height: 18px;
    line-height: 18px;
  }
}

.login-button {
  width: 296px;
  height: 40px;
  border-radius: 4px;
  padding: 8px, 20px, 8px, 20px;
  gap: 10px;
  background-color: #e50914;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  border: none;
  margin-top: 35px;
}

@media screen and (min-width: 768px) {
  .login-button {
    width: 360px;
    border-radius: 8px;
    font-weight: 700;
  }
}
